<!DOCTYPE html>
<html>
<head>
  <title>Baristamatic</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<h1>Baristamatic</h1>
	<nav>
		<%= link_to "Menu", controller: "drinks", action: "menu" %>
		<%= link_to "Inventory", controller: "ingredients", action: "inventory" %>
		<%= link_to "Order Coffee", controller: "orders", action: "new" %>
	</nav>
	<%= yield %>

</body>
</html>
