<!DOCTYPE html>
<html>
<head>
  <title>Baristamatic</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<h1 class="site_logo">Baristamatic</h1>
		<nav class="nav">
			<%= link_to "Menu", {controller: "drinks", action: "menu"}, class: "nav_item form__btn btn--success" %>
			<%= link_to "Inventory", {controller: "ingredients", action: "inventory"}, class: "nav_item form__btn btn--error"  %>
			<%= link_to "Order Coffee", {controller: "orders", action: "new"}, class: "nav_item form__btn btn--default" %>
		</nav>
	</header>
	<%= yield %>

</body>
</html>
